/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: #ffffff;
    background: linear-gradient(-135deg, #9b60ce, #8787ca, #665cff );
}

::selection {
    background: #4158d0;
    color: #fff;
}

/* Login Navigation styles */
.logingnav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(-135deg, #4943aa , #ce7cff);
    padding: 20px;
    z-index: 2;
}

#nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    letter-spacing: 0.1em;
    padding-left: 10px;
}

.logingnav a {
    transition: transform 0.5s ease, background-color 0.5s ease;
}

/* Login Form styles */
.wrapper {
    width: 380px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(255, 68, 68, 0.1);
    position: absolute;
    top: 50%; /* Adjust the top value to move the login form higher */
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper .title {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    color: #ffffff;
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(-135deg, #8450a4, #474ade);
}

.wrapper form {
    padding: 10px 30px 50px 30px;
}

.wrapper form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.wrapper form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid linear-gradient(-135deg, #4943aa , #ce7cff);
    border-radius: 25px;
    transition: all 0.3s ease;
}

.wrapper form .field input:focus,
.wrapper form .field input:valid {
    border-color: #cd7cfe;
}

.wrapper form .field label {
    position: absolute;
    top: 50%;
    left: 20px;
    color: #bfbbbb;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.wrapper form .field input:focus ~ label,
.wrapper form .field input:valid ~ label {
    top: 0%;
    font-size: 16px;
    color: #4158d0;
    background: #fff;
    transform: translateY(-50%);
}

.wrapper form .content {
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
}

.wrapper form .content .checkbox input {
    width: 0px;
    height: 0px;
    background: red;
}

.wrapper form .content label {
    color: #262626;
    user-select: none;
    padding-left: 5px;
}

.wrapper form .field input[type="submit"] {
    color: #fff;
    border: none;
    padding: 1px 1px;
    margin-top: 0%;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, #8450a4, #474ade);
    transition: all 0.3s ease;
}

.wrapper form .field input[type="submit"]:active {
    transform: scale(0.95);
}

.wrapper form .signup-link {
    color: #262626;
    margin-top: 20px;
    text-align: center;
}

.wrapper form .pass-link a,
.wrapper form .signup-link a {
    color: #4158d0;
    text-decoration: none;
}

.wrapper form .pass-link a:hover,
.wrapper form .signup-link a:hover {
    text-decoration: underline;
}

/* Footer Menu styles */
.footer-menu {
    width: 100%; /* Change width to 100% */
    background: linear-gradient(-135deg, #4943aa , #ce7cff);
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    bottom: 0;
    position: fixed;
}

.menu-section h3 {
    color: white;
    margin-bottom: 10px;
}

.menu-section ul {
    list-style: none;
    padding: 0;
}

.menu-section ul li a {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
    line-height: 2;
    display: block;
}

.menu-section ul li a:hover {
    color: #1a76ff;
}

#content {
    max-width: 800px; /* Set a maximum width for the content */
    margin: 0 auto; /* Center the content horizontally */
    text-align: justify; /* Justify the text for a cleaner look */
    line-height: 1.6; /* Adjust the line height for better readability */
}